# Artificial Neural Network

Necessary library impor

In [84]:

import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.callbacks import EarlyStopping
from sklearn.metrics import classification_report, confusion_matrix

Load dataset

In [65]:
df = pd.read_csv("../dataset/Churn_Modelling.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [66]:
df.shape

(10000, 14)

In [67]:
df.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

drop unnecessary columns, split x & y

In [68]:
x = df.drop(columns=["RowNumber","Surname","Exited"], axis=1)
x.head()

,CustomerId,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,15634602,619,France,Female,42,2,0.00,1,1,1,101348.88
1,15647311,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,15619304,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,15701354,699,France,Female,39,1,0.00,2,0,0,93826.63
4,15737888,850,Spain,Female,43,2,125510.82,1,1,1,79084.10

In [69]:
y = df["Exited"]
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

Encode categorical data

In [70]:
le = LabelEncoder()
x['Gender'] = le.fit_transform(x['Gender'])

One Hot encoding for Geography

In [71]:
oneh = OneHotEncoder(drop='first')
geo_en = oneh.fit_transform(x[['Geography']]).toarray()
geo_en_x = pd.DataFrame(geo_en, columns=oneh.get_feature_names_out(['Geography']))
geo_en_x

      Geography_Germany  Geography_Spain
0                   0.0              0.0
1                   0.0              1.0
2                   0.0              0.0
3                   0.0              0.0
4                   0.0              1.0
...                 ...              ...
9995                0.0              0.0
9996                0.0              0.0
9997                0.0              0.0
9998                1.0              0.0
9999                0.0              0.0

[10000 rows x 2 columns]

In [72]:
x = pd.concat([x.drop(columns=['Geography']), geo_en_x], axis=1)
x.head()

,CustomerId,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_Germany,Geography_Spain
0,15634602,619,0,42,2,0.00,1,1,1,101348.88,0.0,0.0
1,15647311,608,0,41,1,83807.86,1,0,1,112542.58,0.0,1.0
2,15619304,502,0,42,8,159660.80,3,1,0,113931.57,0.0,0.0
3,15701354,699,0,39,1,0.00,2,0,0,93826.63,0.0,0.0
4,15737888,850,0,43,2,125510.82,1,1,1,79084.10,0.0,1.0

Train test split

In [73]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

Feature scaling

In [74]:
sc = StandardScaler()
x_train = sc.fit_transform(x_train)
x_test = sc.transform(x_test)

# Build ANN Model

In [75]:
model = Sequential()

Input + Hidden Layers

In [76]:
model.add(Dense(64, activation='relu', input_shape=(x_train.shape[1],)))
model.add(Dropout(0.3))

model.add(Dense(32, activation='relu'))
model.add(Dropout(0.2))

model.add(Dense(16, activation='relu'))
model.add(Dropout(0.4))

c:\Users\User\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\layers\core\dense.py:106: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Output Layer

In [77]:
model.add(Dense(1, activation='sigmoid'))

In [78]:
# Compile
model.compile(
    optimizer='adam',
    loss='binary_crossentropy',
    metrics = ['accuracy']
)

In [79]:
#Train

es = EarlyStopping(
    monitor = 'val_loss',
    patience=10,
    restore_best_weights=True
)

model.fit(x_train, y_train, epochs=100, batch_size=32, validation_split=0.1, callbacks=[es])

Epoch 1/100
225/225 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - accuracy: 0.7618 - loss: 0.5285 - val_accuracy: 0.8075 - val_loss: 0.4235
Epoch 2/100
225/225 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8012 - loss: 0.4670 - val_accuracy: 0.8338 - val_loss: 0.4013
Epoch 3/100
225/225 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8117 - loss: 0.4488 - val_accuracy: 0.8350 - val_loss: 0.3911
Epoch 4/100
225/225 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8206 - loss: 0.4317 - val_accuracy: 0.8537 - val_loss: 0.3757
Epoch 5/100
225/225 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8276 - loss: 0.4201 - val_accuracy: 0.8438 - val_loss: 0.3668
Epoch 6/100
225/225 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8400 - loss: 0.4013 - val_accuracy: 0.8550 - val_loss: 0.3502
Epoch 7/100
225/225 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8396 - loss: 0.3925 - val_accuracy: 0.8550 - val_loss: 0.3447
Epoch 8/100
225/225 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8465 - loss: 0.3835 - val_accuracy: 0.8550 - val_loss: 0.3412
Epoch 9/100
225/225 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8418 - loss: 0.3831 - val_accuracy: 0.8550 - val_loss: 0.3381
Epoch 10/100
225/225 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8487 - loss: 0.3746 - val_accuracy: 0.8562 - val_loss: 0.3392
Epoch 11/100
225/225 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8494 - loss: 0.3680 - val_accuracy: 0.8587 - val_loss: 0.3357
Epoch 12/100
225/225 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8521 - loss: 0.3670 - val_accuracy: 0.8562 - val_loss: 0.3371
Epoch 13/100
225/225 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8518 - loss: 0.3656 - val_accuracy: 0.8550 - val_loss: 0.3386
Epoch 14/100
225/225 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8533 - loss: 0.3693 - val_accuracy: 0.8587 - val_loss: 0.3350
Epoch 15/100
225/225 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8540 - loss: 0.3606 - val_accuracy: 0.8550 - val_loss: 0.3347
Epoch 16/100
225/225 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8529 - loss: 0.3694 - val_accuracy: 0.8562 - val_loss: 0.3392
Epoch 17/100
225/225 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8564 - loss: 0.3558 - val_accuracy: 0.8537 - val_loss: 0.3328
Epoch 18/100
225/225 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8565 - loss: 0.3620 - val_accuracy: 0.8600 - val_loss: 0.3347
Epoch 19/100
225/225 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8569 - loss: 0.3514 - val_accuracy: 0.8587 - val_loss: 0.3341
Epoch 20/100
225/225 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8562 - loss: 0.3562 - val_accuracy: 0.8612 - val_loss: 0.3335
Epoch 21/100
225/225 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8575 - loss: 0.3489 - val_accuracy: 0.8600 - val_loss: 0.3329
Epoch 22/100
225/225 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8586 - loss: 0.3532 - val_accuracy: 0.8625 - val_loss: 0.3329
Epoch 23/100
225/225 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8564 - loss: 0.3501 - val_accuracy: 0.8600 - val_loss: 0.3343
Epoch 24/100
225/225 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8571 - loss: 0.3508 - val_accuracy: 0.8575 - val_loss: 0.3340
Epoch 25/100
225/225 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8583 - loss: 0.3487 - val_accuracy: 0.8612 - val_loss: 0.3362
Epoch 26/100
225/225 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8607 - loss: 0.3477 - val_accuracy: 0.8575 - val_loss: 0.3358
Epoch 27/100
225/225 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8560 - loss: 0.3498 - val_accuracy: 0.8562 - val_loss: 0.3327
Epoch 28/100
225/225 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8612 - loss: 0.3521 - val_accuracy: 0.8637 - val_loss: 0.3346
Epoch 29/100
225/225 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8633 - loss: 0.3419 - val_accuracy: 0.8600 - val_loss: 0.3366
Epoch 30/100
225/225 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8565 - loss: 0.3444 - val_accuracy: 0.8637 - val_loss: 0.3365
Epoch 31/100
225/225 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8640 - loss: 0.3441 - val_accuracy: 0.8575 - val_loss: 0.3361
Epoch 32/100
225/225 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8607 - loss: 0.3433 - val_accuracy: 0.8650 - val_loss: 0.3356
Epoch 33/100
225/225 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8632 - loss: 0.3449 - val_accuracy: 0.8625 - val_loss: 0.3359
Epoch 34/100
225/225 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8628 - loss: 0.3423 - val_accuracy: 0.8575 - val_loss: 0.3364
Epoch 35/100
225/225 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8599 - loss: 0.3452 - val_accuracy: 0.8575 - val_loss: 0.3349
Epoch 36/100
225/225 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8618 - loss: 0.3424 - val_accuracy: 0.8612 - val_loss: 0.3351
Epoch 37/100
225/225 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - accuracy: 0.8629 - loss: 0.3394 - val_accuracy: 0.8587 - val_loss: 0.3345

In [80]:
# model evaluate
loss, accuracy = model.evaluate(x_test, y_test)
print("Test Accuracy:", accuracy)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 859us/step - accuracy: 0.8640 - loss: 0.3332
Test Accuracy: 0.8640000224113464

# Output Prediction Example

In [81]:
y_pred = model.predict(x_test)
y_pred = (y_pred > 0.5).astype(int)

63/63 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step

check classification report

In [85]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.87      0.97      0.92      1607
           1       0.78      0.43      0.55       393

    accuracy                           0.86      2000
   macro avg       0.83      0.70      0.74      2000
weighted avg       0.86      0.86      0.85      2000

chech confusion matrix

In [86]:
print(confusion_matrix(y_test, y_pred))

[[1560   47]
 [ 225  168]]